@import url('https://fonts.googleapis.com/css?family=Raleway');

/* force scrollbar */
html {
  overflow-y: scroll;
}

/* body */

body {
  font-family: 'Raleway', sans-serif;
  padding: 1em;
  background-color: #000;
  color: #fff;
}

/* header */
.logo {
  max-width: 1.8em;
  float: right;
  padding: 0.1em;
}

.title {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.cv, .cv:hover {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  float: right;
  font-size: 0.8em;
  font-weight: 1000;
  height: 2em;
  width: 2em;
  text-align: center;
  margin: 0.1em;
  line-height: 2em;
}

/* filters */

input {
  display: none;
}

.btn-default,
.btn-default:active:hover,
.btn-default:focus {
  color: #fff;
  background-color: #000;
  border-color: #fff;
  border-radius: 0;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default.active:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
}

html.can-touch .btn-default:hover {
  color: #fff;
  background-color: #000;
}

html.can-touch .btn-default.active {
  color: #000;
  background-color: #fff;
}

/* grid */

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 100%;
  padding: 1em;
  min-width: 20em;
}

@media only screen and (min-width: 480px) {
  .grid-item {
    width: 30%;
  }
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* hover */

.thumb {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  color: #fff;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 80%;
}

.overlay h4 {
  font-weight: bold;
}

.grid-item:hover .thumb {
  opacity: 0.3;
}

.grid-item:hover .overlay {
  opacity: 1;
}

html.can-touch .grid-item .thumb {
  opacity: 1;
}

html.can-touch .grid-item .overlay {
  opacity: 0;
}

html.can-touch .grid-item.in-view .thumb {
  opacity: 0.3;
}

html.can-touch .grid-item.in-view .overlay {
  opacity: 1;
}

/* dialogs */
.modal {
  text-align: center;
  color: #000;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal img {
  width: 80%;
}

.shadow {
  box-shadow: 10px 10px 5px grey;
}

/* tweets */

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}
